[init]
	defaultBranch = master

[user]
	name = XXX
	email = XXX
	signingKey = XXX

[core]
	longpaths = true
	autocrlf = input
	editor = micro
	pager = less -FRX

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[push]
	autoSetupRemote = true

[gpg]
	format = ssh

[commit]
	gpgSign = true

[tag]
	gpgSign = true
